body {
    background-color: black;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

h1 {
    color: white;
    text-align: center;
}

.centerPurple {
    background-color: #ccabdb;
    align-items: center;
    min-height: 500px;
    min-width: 500px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.board {
    height: 400px;
    width: 400px;
    border-width: 10px;
    border-color: darkgreen;
    border-style: solid;
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    align-self: center;
    height: 46px;
    width: 46px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.piece {
    height: 46px;
    width: 46px;
}

.margin {
    display: flex;
}

.overlay {
    background-color: rgba(232,81,197,0.5);
    height: 46px;
    width: 46px;
    position: absolute;
}